@(viewState: models.rest.ViewState) @main(viewState = viewState) {
<style></style>
} {
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">@viewState.getPageTitle()</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-12">
		<h3>
			awesome-bootstrap-checkbox <a
				href='http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/'
				target='_blank'><i class="fa fa-external-link"
				aria-hidden="true"></i></a>
		</h3>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" class="styled" id="inlineCheckbox1"
				value="option1"> <label for="inlineCheckbox1">
				Inline One </label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline">
			<input type="checkbox" class="styled" id="inlineCheckbox2"
				value="option1" checked> <label for="inlineCheckbox2">
				Inline Two </label>
		</div>
		<div class="checkbox checkbox-inline">
			<input type="checkbox" class="styled" id="inlineCheckbox3"
				value="option1"> <label for="inlineCheckbox3">
				Inline Three </label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="checkbox">
			<input id="checkbox1" class="styled" type="checkbox"> <label
				for="checkbox1"> Default </label>
		</div>
		<div class="checkbox checkbox-primary">
			<input id="checkbox2" class="styled" type="checkbox" checked>
			<label for="checkbox2"> Primary </label>
		</div>
		<div class="checkbox checkbox-success">
			<input id="checkbox3" class="styled" type="checkbox"> <label
				for="checkbox3"> Success </label>
		</div>
		<div class="checkbox checkbox-info">
			<input id="checkbox4" class="styled" type="checkbox"> <label
				for="checkbox4"> Info </label>
		</div>
		<div class="checkbox checkbox-warning">
			<input id="checkbox5" type="checkbox" class="styled" checked>
			<label for="checkbox5"> Warning </label>
		</div>
		<div class="checkbox checkbox-danger">
			<input id="checkbox6" type="checkbox" class="styled" checked>
			<label for="checkbox6"> Check me out </label>
		</div>
	</div>
	<!-- /.col-md-4 -->
	<div class="col-md-4">
		<div class="checkbox">
			<input class="styled" id="checkbox9" type="checkbox" disabled>
			<label for="checkbox9"> Can't check this </label>
		</div>
		<div class="checkbox checkbox-success">
			<input class="styled styled" id="checkbox10" type="checkbox" disabled
				checked> <label for="checkbox10"> This too </label>
		</div>
		<div class="checkbox checkbox-warning checkbox-circle">
			<input class="styled" id="checkbox11" type="checkbox" disabled
				checked> <label for="checkbox11"> And this </label>
		</div>
	</div>
	<!-- /.col-md-4 -->
	<div class="col-md-4">
		<div class="radio radio-danger">
			<input type="radio" name="radio2" id="radio3" value="option1">
			<label for="radio3"> Next </label>
		</div>
		<div class="radio radio-danger">
			<input type="radio" name="radio2" id="radio4" value="option2" checked>
			<label for="radio4"> One </label>
		</div>
	</div>
	<!-- /.col-md-4 -->
</div>
<!-- /.row -->






} { }
